.light-button {
  // Estilos generales para el botón
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s; // Transición suave para el cambio de colores

  // Estilo hover
  &:hover {
    opacity: 0.8;
  }

  // Estilos cuando el estado es "true"
  &.on {
    background-color: #4caf50; // Verde claro
    color: white;
  }

  // Estilos cuando el estado es "false"
  &.off {
    background-color: #f44336; // Rojo claro
    color: white;
  }
}
