.sensor-container {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px 0;
  background-color: #f5f5f5;

  .sensor-icon {
    font-size: 24px;
    margin-right: 10px;
  }

  .sensor-value {
    font-size: 20px;
    margin-right: 5px;
  }
}
