@import "../variables";

@media only screen and (min-width: 769px) {
  .header {
    background: $sidebar-bg-color;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 10px;
    z-index: 1000;

    .sensor-item {
      display: flex;
      align-items: center;
      font-size: 0.9rem; // Disminuye el tamaño de la fuente para asegurar que se ajuste al header

      svg {
        margin-right: 5px;
        color: white; // Cambia el color del ícono a blanco para una mejor visibilidad contra el fondo gris
      }
    }
  }
}
@media only screen and (max-width: 769px) {
  .header {
    background: rgba(128, 128, 128, 0.322);
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 10px;
    z-index: 1000;

    .sensor-item {
      display: flex;
      align-items: center;
      font-size: 0.5rem; // Disminuye el tamaño de la fuente para asegurar que se ajuste al header
      color: white;

      svg {
        margin-right: 5px;
        font-size: 1px;
        color: white; // Cambia el color del ícono a blanco para una mejor visibilidad contra el fondo gris
      }
    }
  }
}
