//sidebar-container
$primary-color: #1c1c1e; // Amarillo brillante de la paleta, para íconos y acentos principales
$hover-color: #ffb700; // Un marrón claro con un toque de amarillo para el hover de los íconos
$hover-bg-color: #fff9ec; // Un blanco roto para el fondo de hover
$sidebar-bg-color: #fef9dc34; // Un color crema suave para el fondo del sidebar
$sidebar-active-width: 180px;
$sidebar-width: 25px;
$sidebar-padding: 16px 16px;
//buttons
$off-bg-color: #e0e0e0;
$on-bg-color: #fffbe6;
$off-button-color: #d3d3d3;
$on-button-color: #ffd700;
$off-icon-color: white;
$on-icon-color: black;
$off-text-color: #b0b0b0;
$on-text-color: #000000;
//indicadores
$indicadores_off: #1c1c1e;
$indicadores_on: #ffb700;
$text-color: #1c1c1e; // Mantenemos el color del texto neutro para contraste
