<div class="modulos">
  <div class="cuadros">
    <div
      id="semaforo"
      (mouseover)="hoverButtonEvent()"
      (mouseleave)="hoverButtonEvent()"
    ></div>
  </div>
  <div class="cuadros">
    <div id="ad"></div>
  </div>
  <div class="cuadros">
    <div id="police"></div>
  </div>
  <div class="cuadros">
    <div id="clima"></div>
  </div>
  <div class="cuadros">
    <div id="aforo"></div>
  </div>
  <div class="cuadros">
    <div id="psm"></div>
  </div>
</div>
<div class="capas">
  <div (click)="showLayer('hola mundo')" id="select"></div>
</div>
