.sidebar {
    /* ...otros estilos... */
    transition: width 0.5s ease;
    width: 50px;
    /* Esta es la anchura inicial cuando está colapsado */
    /* Esta regla proporciona la animación suave */
}

.sidebar.active {
    width: 200px;
}

.sidebar .link_name {
    display: none;
    /* inicialmente, oculta el texto */
    /* ... otros estilos ... */
}

.sidebar.active .link_name {
    display: inline;
    /* muestra el texto cuando el sidebar está activo */
}