<!-- src/app/layout/main-layout/main-layout.component.html -->

<header class="app-header">
  Mi Casa Inteligente
  <!-- O el nombre/título que desees -->
</header>
<aside class="side-menu">
  <!-- Aquí irá el componente del menú lateral -->
  <app-side-menu></app-side-menu>
</aside>
<main class="content-area">
  <!-- Aquí irán los controles de la habitación. Por ahora, podrías tener un router-outlet si planeas navegar entre diferentes habitaciones, o insertar directamente el componente de control de luz como un inicio -->
  <router-outlet></router-outlet>
</main>
